<div class="card" [formGroup]="mainForm">
    <div class="card-header border-0 ui-sortable-handle" style="cursor: move;">
        <h3 class="card-title">
          <i class="fas fa-th mr-1"></i>
            Nouvelle demande de service
        </h3>
        
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-7">
                <div class="form-group mb-2">
                    <label for="exampleInputPassword1">Type de service *</label>
                    <mat-form-field appearance="outline">
                        <mat-select  placeholder="Choisir le type de document a soumettre" [formControl]="serviceTypeCtrl">
                            <mat-option *ngFor="let option of listPartner$ | async" [value]="option.id">{{ option.name }}</mat-option>
                        </mat-select>
                        <mat-error>Ce champs est obligatoire</mat-error>
                    </mat-form-field>            
                </div> 
                <div class="form-group mb-2" >
                    <label for="exampleInputPassword1">Fichier *</label>
                    
                    <app-file-input (onFileChange)="onFileChange($event)" [formControl]="contentFileCtrl" [upload]="false" ></app-file-input>    
                    <div class="invalid-feedback" style="display: block">
                        <ng-container *ngIf="hasError('contentFileCtrl', 'required')">This field is required</ng-container>
                        <ng-container *ngIf="hasError('contentFileCtrl', 'requiredFileTypeValidator')">Veuilez charger un fichier au format: .docs, .xlst, .zip</ng-container>
                      </div>         
                </div>
                <div class="form-group mb-2" style="margin-top: 30px;">
                    <label for="exampleInputPassword1">Delai de rendu souhaité *</label>
                    <mat-form-field appearance="outline">
                        <mat-select  placeholder="Choisir le delai de rendu souhaité" [formControl]="deadlineCtrl">
                            <mat-option *ngFor="let option of deadLineList" [value]="option.id">{{ option.name }}</mat-option>
                        </mat-select>
                        <mat-error>Ce champs est obligatoire</mat-error>
                    </mat-form-field>
                    <span [@pricingInfo]="listItemAnimateState" *ngIf="showPricing$ | async">
                        <i class="fas fa-info-circle text-warning" style="margin-right: 5px;"></i>
                        Le coût de cette prestation est estimée a {{pricing | amount }} FCFA. Cliquer ici voir la grille des prix.
                    </span>
                                 
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <mat-card-actions >
            <button mat-button >Annuler</button>
            <button mat-flat-button class="btn--primary" (click)="onSubmitForm()"  [disabled]="!mainForm.valid">Enregistrer</button>
        </mat-card-actions>
    </div>
</div>