
  
<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link"></a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">

     
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link right-user-panel" data-toggle="dropdown" href="#">
          <div class="info">
            <span class="user-info">{{currentUser.email}}</span>
            <span class="role-info">{{currentUser.role}}</span>
          </div>
          <div class="image">
            <img src={{currentUser.imageUrl}} class="img-circle elevation-2" alt="User Image">
          </div>
          
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right"  >
          <span class="dropdown-item dropdown-header">
            <img class="rounded" src={{currentUser.imageUrl}} alt="User" width="100" height="100" style="width: 100px; height: 100px;">
            <p>{{currentUser.email}}
              <small>Membre depuis le {{currentUser.createAt | date:'dd MMM yyyy':undefined:'fr'}}</small>
            </p>
          </span>
          <div class="dropdown-divider"></div>
          <div class="btn-action">
            <app-button  label="Profils" color="primary" sclass="btn--default mr-2"></app-button>
            <app-button  label="Sign out" color="primary" sclass="btn--default float-right" (click)="logout()"></app-button>
          </div>
        </div>
        
      </li>
      
    </ul>
  </nav>
  <!-- /.navbar -->