<div class="row">
    <div class="col-12 col-sm-6 col-md-3" >
      <div class="info-box">
        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-thumbs-up"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">DOCUMENTS CORRIGÉ</span>
          <span class="info-box-number">
            {{dashboardData?.treatmentCompleted }}
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3" >
      <div class="info-box mb-3">
        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-sync-alt"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">CORRECTION EN COURS</span>
          <span class="info-box-number">{{dashboardData?.treatmentCompleted }}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-copy" style="color:#fff"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">EN ATTENTE DE CORRECTION</span>
          <span class="info-box-number">{{dashboardData?.waitingForTreatment }}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3" >
      <div class="info-box mb-3">
        <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-users"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">NOMBRE D'ETUDIANT</span>
          <span class="info-box-number">{{dashboardData?.student.length }}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
  </div>
  <div class="section-separator" style="height: 30px;"></div>
<div class="row">
  <div class="col-12 col-sm-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Inscriptions par mois</h3>
      </div>
      <div class="card-body">
        <canvas id="studentsChart" width="400" height="200"></canvas>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Évolution des documents</h3>
      </div>
      <div class="card-body">
        <canvas id="documentsEvolutionChart" width="400" height="200"></canvas>
      </div>
    </div>
  </div>
</div>
  