<div [formGroup]="mainForm">
  <h1 mat-dialog-title>{{title}}</h1>
  <mat-dialog-content class="mat-typography">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group mb-2">
          <label for="exampleInputPassword1">Nom *</label>
          <mat-form-field appearance="outline">
              <input matInput placeholder="Renseigner le nom du partenaire" formControlName="name" autocomplete="off"/>
              <mat-error>{{ getFormControlErrorText(mainForm.get('name')!) }}</mat-error>
          </mat-form-field>               
      </div>  
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close="CLOSE_MODAL">Annuler</button>
    <button mat-flat-button class="btn--primary" (click)="onSubmitForm()"  [disabled]="!mainForm.valid">Enregistrer</button>
  </mat-dialog-actions>
</div>
