<div class="card" >
    <div class="card-header">
        <div class="margin">
            <div class="btn-group">
                <app-button label="Nouveau partenaire" 
                            icon="add" color="primary" 
                            cssClass="btn--primary" 
                            (click)="onAddPartner()">
                </app-button>
                <app-button label="Modifier partenaire" 
                            [@fade]="displayUpdateButton ? 'show' : 'hide'" 
                            icon="add" 
                            color="primary" 
                            cssClass="btn--primary" 
                            (click)="onUpdatePartner()"></app-button>
            </div>                                          
        </div> 
    </div>
    <div class="card-body">
        <app-data-grid 
            [columns]="columns" 
            [dataSource]="topups$ | async"
            showCheckBox="always"
            (selectedRow)="onSelectRow($event)"
            (rowClick)="onRowClick($event)">
        </app-data-grid>
    </div> 
</div>
