::ng-deep body {
  background-image: url("../../../../assets/img/bg.svg")!important;
}

.account {
  flex-direction: row;
}

.account-form {
  width: 880px;
}

@media (max-width: 1300px) {
  .account {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .account-form {
    width: 100%;
  }

}

@media (max-width: 1000px) {
  .account-body {
    padding: 100px 5px;
    display: flex;
    justify-content: center;
  }

  .account-form {
    width: 100%;
  }
}


.register-steps {
  margin-left: 68px;
  padding-top: 80px;
}

.register-steps-item {
  display: flex;
  margin-bottom: 30px;
}

.register-steps-item-left{
  margin-right: 11px;
}

.register-steps-item-right {
  max-width: 340px;
}

.register-steps-item-title{
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 10px;
  font-weight: 600;
}

.register-steps-item-caption{
  font-size: 12px;
  line-height: 15px;
}

/* @media (max-width: 1300px) {
  .account {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}

@media (max-width: 920px) {
    .account-form {
      padding: 32px 30px;
      background-color: #fff;
      border-radius: 8x;
      width: 100%;
    }
}


@media screen and (max-width: 1000px){
  .account-body {
    padding: 100px 5px;
    display: flex;
    justify-content: center;
  }
} */

.table th, .table td {
    border-top: 0px;
}

.btn{
  margin-right: 10px;
}

.divider{
  margin-bottom: 20px;
}

.mat-step-icon-selected{
  background-color: var(--primary) !important;
}

