<div class="account-layout">
    <div class="account-header">
        <a href="/" class="account-layout-header-item">
            <img src="../../../../assets/img/logo_bmr.png" width="150px"/>
        </a> 
        <div class="account-layout__header__item">
            <a routerLink="/auth/login" mat-raised-button class="btn btn--primary">Se connecter a mon compte</a>
        </div>
    </div>
    <div class="account-body">
        <div class="account-body-flex">
            <div class="account-container">
                <div class="account">
                    <div class="account-form" @formTrigger>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Renseigner votre adresse e-mail</label>
                            <div class="input-group mb-3">
                                <input type="email" class="form-control" placeholder="Email">
                                <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                                </div>
                            </div>  
                        </div>
                        <div class="input-group mb-3">
                            <button mat-raised-button class="btn btn--primary btn-block">Rénitialiser le mot de passe</button>
                        </div>
                        <div class="input-group mb-3">
                            <p class="mb-1">
                              <a routerLink="/auth/login" style="color:#18254a">Je me souviens de mon mot de passe</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="account-footer">
        <div class="account-footer-left">
            <div class="account-footer-item">
                <span class="account-footer-item-link"> © BMR-AFRICA 2023</span>
            </div>
        </div> 
        <div  class="account-footer-right">
            <div class="account-footer-item">
              <a href="https://bmr-africa.com/privacy-policy" target="_blank" rel="noopener noreferrer" class="account-footer-item-link"> Privacy policy </a>
            </div> 
            <div class="account-footer-item">
                <a href="https://bmr-africa.com/terms" target="_blank" rel="noopener noreferrer" class="account-footer-item-link"> Terms and conditions </a>
            </div>
        </div>
      </div>
</div>