<div class="card" >
    <div class="card-header" >
        <div class="margin">
            <div class="btn-group">
                <ng-container *ngFor="let btn of buttonActions">
                    <app-button        
                        color="primary" 
                        cssClass="btn--primary"
                        action="{{btn.action}}"
                        actionType="{{btn.actionType}}"
                        [disabled]="btn.disabled"
                        (click)="buttonActionsClick($event)"
                        (keydown)="null">
                        <i class='{{btn.icon}}'></i> {{btn.label}}
                    </app-button>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="card-body">
        <dx-data-grid
            id="gridContainer"
            [dataSource]="dataSource"
            keyExpr="id"
            [showColumnLines]="false"
            [showRowLines]="true"
            [showBorders]="false"
            [hoverStateEnabled]="true"
            [rowAlternationEnabled]="true"
            [columnHidingEnabled]="true"
            (onRowClick)="onRowClick($event)"
            (onSelectionChanged)="onSelectionChanged($event)"
            (onContextMenuPreparing)="onPreparingData($event)">
        <dxo-selection
            [selectAllMode]="allMode"
            [showCheckBoxesMode]="showCheckBox"
            mode="multiple"/>
        <dxo-pager
            [visible]="true"
            [allowedPageSizes]="allowedPageSizes"
            [displayMode]="displayMode"
            [showPageSizeSelector]="showPageSizeSelector"
            [showInfo]="showInfo"
            [showNavigationButtons]="showNavButtons"/>
        <dxi-column *ngFor="let col of columns"
                    [dataField]="col.dataField"
                    [caption]="col.caption"
                    [dataType]="col.dataType"
                    [cellTemplate]="col.template"
                    [calculateCellValue]="customCellValue"
                    [alignment]="col.alignment"
                    [width]="col.width"/>       
        <div *dxTemplate="let options of 'statusTemplate'">
            <small style="color: white" class='badge' [ngClass]="getClass(options.value)">{{options.value | status}}</small>
        </div>
        <div *dxTemplate="let options of 'amountTemplate'">
            {{options.value | amount}}
        </div>
        <div *dxTemplate="let options of 'dateTemplate'">
            {{options.value | date:'dd MMM yyyy':undefined:'fr'}}
        </div>
</dx-data-grid>
<dx-context-menu *ngIf="contextMenu"
    #myContextMenu
    target="#gridContainer" 
    [dataSource]="contextMenu" 
    (onItemClick)="contextMenuItemClick($event)"/>
    </div>
</div>
