<div class="card" >
    <div class="card-header">
        <div class="margin">
            <span>
                <i class="fas fa-info-circle text-warning" style="margin-right: 5px;"></i>
                Faites un clique droit sur une ligne pour avoir plus options.
            </span>
        </div> 
    </div>
    <div class="card-body">
        <app-data-grid 
            [columns]="columns" 
            [dataSource]="topups$ | async"
            [contextMenu]="contextMenuItems" 
            (selectedRow)="onSelectRow($event)"
            (rowClick)="onRowClick($event)"
            (contextMenuClick)="onContextMenuClick($event)">
        </app-data-grid>
    </div>
    
</div>