<div class="card" >
    <div class="card-header" >
        <div class="margin" *ngIf="hasRole(['SUPERADMIN', 'ADMIN', 'BASIC'])">
            <div class="btn-group">
                <app-button label="Nouveau demande de service" icon="add" color="primary" cssClass="btn--primary" (click)="onAddNewItem()"></app-button>
            </div>                                
        </div> 
        <div class="margin mt-2">
            <span>
                <i class="fas fa-info-circle text-warning" style="margin-right: 5px;"></i>
                Faites un clique droit sur une ligne pour avoir plus options.
            </span>
        </div> 
    </div>
    <div class="card-body">
        <app-data-grid 
            [columns]="columns"
            [contextMenu]="contextMenuItems" 
            [dataSource]="listData$ | async"
            (contextMenuClick)="onContextMenuClick($event)">
        </app-data-grid>
    </div>
    
</div>