<div class="account-layout">
  <div class="account-header">
      <a href="/" class="account-layout-header-item">
          <img src="../../../../assets/img/logo_bmr.png" alt="logo bmr-africa" width="150px"/>
      </a> 
      <div class="account-layout__header__item">
          <a routerLink="/auth/register" mat-raised-button class="btn btn--primary">Créer un compte</a>
      </div>
  </div>
  <div class="account-body">
      <div class="account-body-flex">
          <div class="account-container">
              <div class="account">
                  <div class="account-form" [formGroup]="mainForm" @formTrigger>
                    <p class="login-box-msg">Connectez-vous pour démarrer votre session</p>
                    <div class="input-group mb-3">
                      <input type="email" class="form-control" placeholder="Email" formControlName="email" >
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-envelope"></span>
                        </div>
                      </div>
                    </div>
                    <div class="input-group mb-3">
                      <input type="password" class="form-control" placeholder="Password" formControlName="password" >
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-lock"></span>
                        </div>
                      </div>
                    </div>
                    <div class="input-group" *ngIf="showErrorMessage">
                      <p class="text-danger">Login ou mot de passe incorrect</p>
                    </div>
                    <div class="input-group mb-3">
                      <app-button style="width:100%" [disabled]="loading || !mainForm.valid" [loading]="loading" label="Se connecter" color="primary" cssClass="btn btn--primary btn-block" (click)="onLogin()"></app-button>
                    </div>
                    <div class="input-group mb-3">
                      <p class="mb-1">
                        <a routerLink="/auth/forgot-password" style="color:#18254a">j'ai oublié mon mot de passe</a>
                      </p>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
  <div class="account-footer">
      <div class="account-footer-left">
          <div class="account-footer-item">
              <span class="account-footer-item-link"> © BMR-AFRICA 2023</span>
          </div>
      </div> 
      <div  class="account-footer-right">
          <div class="account-footer-item">
            <a href="https://bmr-africa.com/privacy-policy" target="_blank" rel="noopener noreferrer" class="account-footer-item-link"> Privacy policy </a>
          </div> 
          <div class="account-footer-item">
              <a href="https://bmr-africa.com/terms" target="_blank" rel="noopener noreferrer" class="account-footer-item-link"> Terms and conditions </a>
          </div>
      </div>
    </div>
</div>
