<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">{{(breadcrumb$ | async).title}}</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <ng-container *ngFor="let item of (breadcrumb$ | async).links; let i = index; let isLast = last">
              <li *ngIf="!isLast" class="breadcrumb-item"><a routerLink={{item.link}} >{{item.title}}</a></li>
              <li *ngIf="isLast" class="breadcrumb-item active">{{item.title}}</li>
            </ng-container>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->