<div class="card" [formGroup]="mainForm">
    <div class="card-header border-0 ui-sortable-handle" style="cursor: move;">
        <h3 class="card-title">
          <i class="fas fa-th mr-1"></i>
            Nouvelle demande de service
        </h3>
        <div class="card-tools">        
          <button type="button" class="btn btn--close btn-sm" data-card-widget="remove" (click)="onClose()">
            <i class="fas fa-times"></i>
          </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
               <div class="form-group">
                    <label for="exampleInputPassword1">Type de service</label>
                    <mat-form-field  appearance="outline" >
                        <mat-select [formControl]="serviceTypeCtrl" placeholder="Selectionnez un type de service" >
                            <mat-option *ngFor="let option of serviceTypes | async" [value]="option.id">{{ option.name }}</mat-option>
                        </mat-select>
                        <mat-error>Ce champs est obligatoire</mat-error>
                    </mat-form-field>
               </div>
               <div class="form-group">
                    <label for="exampleInputPassword1">Delai de traitement souhaité</label>
                    <mat-form-field appearance="outline">
                        <mat-select [formControl]="returnDeadlineCtrl" placeholder="Choisir un delai de rendu souhaité" >
                            <mat-option *ngFor="let option of returnDeadlines" [value]="option.code">{{ option.name }}</mat-option>
                        </mat-select>
                        <mat-error>Ce champs est obligatoire</mat-error>
                    </mat-form-field>
                    <span [@pricingInfo]="listItemAnimateState" *ngIf="showPricing$ | async">
                        <i class="fas fa-info-circle text-warning" style="margin-right: 5px;"></i>
                        Le coût de cette prestation est estimée a {{pricing | amount }}. Cliquer ici voir la grille des prix.
                    </span>
               </div>               
               <div class="form-group">
                <label for="exampleInputPassword1">Charger le fichier lié a votre demande de service</label>
                <app-file-input [formControl]="contentFileCtrl"></app-file-input> 
                <div class="invalid-feedback" style="display: block">
                    <ng-container *ngIf="hasError('contentFileCtrl', 'required')">This field is required</ng-container>
                    <ng-container *ngIf="hasError('contentFileCtrl', 'requiredFileTypeValidator')">Veuilez charger un fichier au format: .docs, .xlst, .zip</ng-container>
                  </div>                  
               </div>
            </div>
           
        </div>       
    </div>
    <div class="card-footer">
        <mat-card-actions >
            <button mat-flat-button class="btn--primary" (click)="onSubmitForm()" [disabled]="!mainForm.valid">Soumettre votre demande de service</button>
        </mat-card-actions>
    </div>
</div>

