

<mat-card class="example-card">
    <mat-card-header>
        <span highlight color="green" >{{post.title | titlecase}}</span>
    </mat-card-header>
    <mat-card-subtitle>
        <span>{{post.createdDate | timeAgo }}</span>
    </mat-card-subtitle>
    <mat-card-content>
        <img mat-card-image *ngIf="post.imageUrl as imageUrl" [src]="imageUrl" alt="post.title">
        <div class="post-content">{{post.content | shorthen }}</div>
    </mat-card-content>
    <mat-card-actions>
        <app-comments [comments]="post.comments" (newComment)="onNewComment($event)"></app-comments>      
    </mat-card-actions>
</mat-card>


