<div class="file-drop-area">
  <span class="fake-btn">Choisir le fichier</span>
  <span class="file-msg">{{file ? file.name : 'or drag and drop file here' }}</span>
  <input class="file-input" type="file">
</div>



<!-- <div >
    <mat-toolbar >
      <input matInput [value]="fileName"/>

      <button
        mat-flat-button
        color="primary">
        Charger le fichier
      </button>
    </mat-toolbar>

    <input class="col-md-12"
      type="file"
      id="fileInput"
      (change)="selectFile($event)"
      name="fileInput"
    />
  </div> -->
