mat-form-field {
    width: 100%;
    &.full-width {
        width: 100%;
        margin-left: 10%;
    }
} 

.card-header{
    background-color: #f0f3f5;
    border-bottom: 1px solid #c8ced3;
}

.count-character {
    background-position: top right;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  .badge{
    float:right;
  }

  
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .loader {
    border: 5px solid #3498db;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #f3f3f3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 1;
    top:calc(50% - 25px);
    left:calc(50% - 50px);
}

