<div class="card" >
    <div class="card-body">
        <div class="margin">
            <div class="form-row">
                <h3>Rôle: Moniteur</h3>
                <h3>Nombre d'utilisateur: 10000</h3>
                
            </div>
            <div class="btn-group">
                <button matTooltip="Attribuer le rôle a un utilisateur" 
                        mat-flat-button 
                        class="btn btn--primary" 
                        color="primary">
                    <mat-icon>add</mat-icon>                 
                    Attribuer
                  </button>
            </div>
            <div class="btn-group" >
                <button 
                    mat-flat-button 
                    class="btn btn--primary" 
                    [disabled]="showDelete">
                    <mat-icon>delete</mat-icon>
                    Enlever
                  </button>
            </div>
            <div class="btn-group float-right" >
                <button 
                    mat-flat-button matTooltip="Supprimer le rôle" 
                    class="btn btn--primary" 
                    >
                    <mat-icon>delete</mat-icon>
                    Supprimer le rôle
                  </button>
            </div>
            
        </div> 
    </div>
</div>