<div class="card" >
    <div class="card-header" >
        <div class="margin">
            <div class="btn-group"> 
                <ng-container *ngFor="let btn of buttonActions">
                    <app-button 
                        *ngIf="hasRole(btn.visibleForRoles)"
                        label="{{btn.label}}" 
                        icon="{{btn.icon}}" 
                        color="primary" 
                        cssClass="btn--primary"
                        action="{{btn.action}}"
                        actionType="{{btn.actionType}}"
                        [disabled]="false"
                        (click)="onActionButtonClick($event)">
                    </app-button>
                </ng-container>             
                    
            </div>                                          
        </div> 
        <div class="margin mt-2">
            <span>
                <i class="fas fa-info-circle text-warning" style="margin-right: 5px;"></i>
                Faites un clique droit sur une ligne pour avoir plus options.
            </span>
        </div> 
    </div>
    <div class="card-body">
        <app-data-grid 
            [columns]="columns" 
            [dataSource]="documentTemplates$ | async"
            [contextMenu]="contextMenuItems" 
            (selectedRow)="onSelectRow($event)"
            (rowClick)="onRowClick($event)"
            (contextMenuClick)="onActionButtonClick($event)">
        </app-data-grid>
    </div>
    
</div>