<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a routerLink="/" class="brand-link">
      <img src="../assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">{{appName}}</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src={{currentUser.imgUrl}} class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a routerLink="/" class="d-block">{{currentUser.firstName}} {{currentUser.lastName}}</a>
        </div>
      </div>
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item menu-open" *ngIf="hasRole(['SUPERADMIN', 'ADMIN', 'MODERATOR', 'BASIC'])">
            <a routerLink="/dashboard" routerLinkActive="active" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Tableau de board
              </p>
            </a>
            
          </li>
          <li class="nav-item" *ngIf="hasRole(['SUPERADMIN', 'ADMIN'])">
            <a  routerLink="/service-request/student"  routerLinkActive="active" class="nav-link">
              <i class="nav-icon fa fa-folder-open"></i>
              <p>
                Demandes de service
              </p>
            </a>
          </li>
          <li class="nav-item" *ngIf="hasRole(['MODERATOR'])">
            <a  routerLink="/service-request/request-treatment"  routerLinkActive="active" class="nav-link">
              <i class="nav-icon fa fa-folder-open"></i>
              <p>
                Demande de service
              </p>
            </a>
          </li>
          <li class="nav-item" *ngIf="hasRole(['BASIC'])">
            <a  routerLink="/service-request/request-treatment"  routerLinkActive="active" class="nav-link">
              <i class="nav-icon fa fa-folder-open"></i>
              <p>
                Demande de service
              </p>
            </a>
          </li>
          <li class="nav-item" *ngIf="hasRole(['SUPERADMIN', 'ADMIN'])">
            <a  routerLink="/service-request/document-type"  routerLinkActive="active" class="nav-link">
              <i class="nav-icon fa fa-folder"></i>
              <p>
                Type de document
              </p>
            </a>
          </li>
          <li class="nav-item" *ngIf="hasRole(['SUPERADMIN', 'ADMIN', 'MODERATOR'])">
            <a  routerLink="/service-request/document-template"  routerLinkActive="active" class="nav-link">
              <i class="nav-icon fa fa-book"></i>
              <p>
                Modéle de document
              </p>
            </a>
          </li>

          <li class="nav-header" *ngIf="hasRole(['SUPERADMIN', 'ADMIN'])">Utilisateurs</li>
          <li class="nav-item" *ngIf="hasRole(['SUPERADMIN', 'ADMIN'])">
            <a  routerLink="/user/student"  routerLinkActive="active" class="nav-link">
              <i class="nav-icon fa fa-graduation-cap"></i>
              <p>
                Etudiants
              </p>
            </a>
          </li>
          <li class="nav-item" *ngIf="hasRole(['SUPERADMIN', 'ADMIN'])">
            <a  routerLink="/user/collaborater"  routerLinkActive="active" class="nav-link">
              <i class="nav-icon fa fa-users"></i>
              <p>
                Collaborateur
              </p>
            </a>
          </li>
          <li class="nav-item" *ngIf="hasRole(['SUPERADMIN', 'ADMIN'])">
            <a  routerLink="/user/partner"  routerLinkActive="active" class="nav-link">
              <i class="nav-icon fas fa-handshake"></i>
              <p>
                Partenaire
              </p>
            </a>
          </li>
          
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
  <mat-progress-bar
  *ngIf="loading" color="orange" mode="indeterminate">
 </mat-progress-bar>