<div class="card" [formGroup]="mainForm">
    <div class="card-header border-0 ui-sortable-handle" style="cursor: move;">
        <h3 class="card-title">
          <i class="fas fa-th mr-1"></i>
            Nouveau utilisateur
        </h3>
        <div class="card-tools">        
          <button type="button" class="btn btn--close btn-sm" data-card-widget="remove" (click)="onClose()">
            <i class="fas fa-times"></i>
          </button>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInputPassword1">Civilité</label>
                    <mat-form-field appearance="outline">
                        <mat-select  placeholder="Choisir un delai de rendu souhaité" formControlName="civility">
                            <mat-option *ngFor="let option of civility" [value]="option">{{ option }}</mat-option>
                        </mat-select>
                        <mat-error>Ce champs est obligatoire</mat-error>
                    </mat-form-field>
               </div>
               
                <div class="form-group">
                    <label>Prénoms</label>
                    <mat-form-field appearance="outline">
                        <input matInput  placeholder="Renseigner le prénoms de l'utilisateur" formControlName="firstName"
                              required>
                              <mat-error>Ce champs est obligatoire</mat-error>
                      </mat-form-field>
                </div> 
                <div class="form-group">
                    <label>Noms de famille</label>
                    <mat-form-field appearance="outline">
                        <input matInput  placeholder="Renseigner le noms de famille de l'utilisateur" formControlName="lastName"
                              required>
                              <mat-error>Ce champs est obligatoire</mat-error>
                      </mat-form-field>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <mat-form-field appearance="outline">
                        <input matInput  placeholder="Renseigner l'email de l'utilisateur" formControlName="email"
                              required>
                              <mat-error>Ce champs est obligatoire</mat-error>
                      </mat-form-field>
                </div>
                <div class="form-group">
                    <label>Téléphone</label>
                    <mat-form-field appearance="outline">
                        <input matInput  placeholder="Renseigner le téléphone de l'utilisateur" formControlName="phoneNumber"
                              required>
                              <mat-error>Ce champs est obligatoire</mat-error>
                      </mat-form-field>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
    <div class="card-footer">
        <mat-card-actions >
            <button mat-flat-button class="btn--primary" (click)="onSubmitForm()" [disabled]="!mainForm.valid">Enregistrer</button>
        </mat-card-actions>
    </div>
</div>