<div class="row">
    <div class="col-12 col-sm-6 col-md-3" *ngIf="hasRole(['SUPERADMIN', 'ADMIN', 'MODERATOR'])">
      <div class="info-box">
        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-thumbs-up"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">DOCUMENTS CORRIGÉ</span>
          <span class="info-box-number">
            {{dashboardData?.treatmentCompleted }}
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3" *ngIf="hasRole(['SUPERADMIN', 'ADMIN', 'MODERATOR'])">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-sync-alt"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">CORRECTION EN COURS</span>
          <span class="info-box-number">{{dashboardData?.treatmentCompleted }}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-6 col-md-3" *ngIf="hasRole(['SUPERADMIN', 'ADMIN', 'MODERATOR'])">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-copy" style="color:#fff"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">EN ATTENTE DE CORRECTION</span>
          <span class="info-box-number">{{dashboardData?.waitingForTreatment }}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3" *ngIf="hasRole(['SUPERADMIN', 'ADMIN'])">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-users"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">NOMBRE D'ETUDIANT</span>
          <span class="info-box-number">{{dashboardData?.student }}</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
  </div>