<div class="card" >
    <div class="card-header">
        <div class="margin">
            <div class="btn-group">
                <button mat-flat-button class="btn btn--primary" color="primary" >
                    <mat-icon>edit</mat-icon>
                    Modifier la demande de service
                  </button>
                  
            </div>
            <div class="btn-group">
                <button mat-flat-button class="btn btn--default" color="primary" >
                    <mat-icon>download</mat-icon>
                    Télécharger la pièce joite
                  </button>
            </div>
            
            
            
        </div> 
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <h3>Information de la demande de service</h3>
                <mat-divider></mat-divider>
                <div class="table-responsive"  style="width: 90%; border:0px">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Date de la demande</th>
                                <td>bmr admin</td>
                            </tr>
                            <tr>
                                <th style="width: 40%;">Type de service</th>
                                <td>24 Aug 2023 12:33</td>
                            </tr>
                            
                            <tr>
                                <th>Delai de rendu souhaité</th>
                                <td>72 Heure(s)</td>
                            </tr>
                            <tr>
                                <th>Fichier</th>
                                <td>
                                    <div data-v-cace4634="" data-v-3a6f080c="" class="info-table__data row__link">
                                        <span data-v-cace4634="" data-v-3a6f080c="">
                                            <a data-v-cace4634="" data-v-3a6f080c="" href="https://flutterwave.com/pay/etgoz3qlpczx" target="blank" class="link copy">mauquette de these approuveedddddddddddddddddddddddddddddddddddddddddd.docx</a>
                                        </span> 
                                        <button data-v-cace4634="" type="button" class="btn--nostyle pointer link row__link__icon" data-v-3a6f080c="">
                                            <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" width="14" height="14" class="link">
                                                <path d="M13.3333 6H7.33333C6.59695 6 6 6.59695 6 7.33333V13.3333C6 14.0697 6.59695 14.6667 7.33333 14.6667H13.3333C14.0697 14.6667 14.6667 14.0697 14.6667 13.3333V7.33333C14.6667 6.59695 14.0697 6 13.3333 6Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">

                                                </path><path d="M3.33301 10.0002H2.66634C1.92996 10.0002 1.33301 9.40323 1.33301 8.66683V2.66683C1.33301 1.93045 1.92996 1.3335 2.66634 1.3335H8.66634C9.40274 1.3335 9.99968 1.93045 9.99968 2.66683V3.3335" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>Status du traitement</th>
                                <td><span class="badge bg-success">FIN DE TRAITEMENT</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
               
            </div>
        </div>
        
    </div>
</div>
