<div class="card" >
    <div class="card-header">
        <div class="margin">
            <div class="btn-group">
                <app-button label="Nouveau rôle" icon="add" cssClass="btn--primary" (click)="onAddNewRole()"></app-button>
                <app-button label="Modifier le rôle" icon="edit" cssClass="btn--primary" *ngIf="selectedRows.length"  [@listItem]="listItemAnimateState"></app-button>
            </div>
        </div> 
    </div>
    <div class="card-body">
        <app-data-grid 
            [columns]="columns" 
            [dataSource]="roles$ | async"
            (selectedRow)="onSelectRow($event)"
            (rowClick)="onRowClick($event)">
        </app-data-grid>
    </div>
</div>

