.btn{
    color: #fff;
    background-color: var(--primary) !important;
   
}



::ng-depp .btn-secondary {
    color: #fff !important;
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    box-shadow: none !important;
  }