<section class="content" >
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Demande de service</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-sm btn-primary" (click)="saveAllChange($event)" [disabled]="disabledSaveButton">
                    <i class="far fa-file-pdf mr-2"></i>
                    Enregistrer les modifications
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-6 order-2 order-md-1">
                    <app-request-treatment-detail #detailView [requestTreatment]="requestTreatment"></app-request-treatment-detail>
                </div>
                
                <div class="col-12 col-md-12 col-lg-6 order-1 order-md-2">
                    <app-request-treatment-status #statusView (updatedChange)="disabledSaveButton = false" [requestTreatment]="requestTreatment"></app-request-treatment-status>
                </div>                   
            </div>
            <div class="row" style="margin-top: 50px;">
                <div class="col-12 col-md-12 col-lg-6 order-1 order-md-2">
                    <app-request-treatment-result #resultView (updatedChange)="disabledSaveButton = false" [requestTreatment]="requestTreatment"></app-request-treatment-result>
                </div>                
            </div>            
        </div>
    </div>
</section>